<div>
   <!--  <table class="table table-bordered" style="color:#000">
        <thead>
            <tr>
                <th>
                    Type
                </th>
                <th>
                    Name
                </th>
                <th>
                    Batters
                </th>
                <th>
                    Toppings
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of items">
                <td>
                    {{item.type}}
                </td>
                <td>
                    {{item.name}}
                </td>
                <td>
                    <ul>
                        <li *ngFor="let batter of item.batters.batter">
                            {{batter.type}}
                        </li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li *ngFor="let tops of item.topping">
                            {{tops.type}}
                        </li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table> -->
    <img [src] = "assignedImage" alt="Image" class="img-responsive">
    <button (click)="clickFunction()">Click it</button>
    <div class="clearfix"></div>
    <div class="col-sm-3">
<!-- <form [formGroup]="someFormGroup">
    <div class="form-group">
        <input class="form-control" formControlName="email">
    </div>
</form> -->

        <div class="form-group">
            <input class="form-control" [(ngModel)]="email" type="email">
        </div>
        <div class="form-group">
            <input class="form-control" [(ngModel)]="password" type="password">
        </div>
        <div class="form-group">
            <input class="form-control"  type="submit" (click) = "login();">
        </div>
    </div>
</div>





<!-- <ng-template ngFor let-display [ngForOf]="display" let-i="index" style="color:#000">
    {{i + 1 + '.'}} {{display.name}} {{display.age}}
</ng-template> -->

