<form [formGroup]="registrationForm" (ngSubmit)="register()">
  <div class="form-group">
    <label>
      Email
    </label>
    <input class="form-control" formControlName="email" placeholder="Email" type="email">
    <!-- <span style="color : red" *ngIf="!formGroup.get('email').valid">
      Please Enter Email Address
    </span> -->
  </div>
  <div class="form-group">
    <label>
      Mobile
    </label>
    <input class="form-control" formControlName="mobile" placeholder="Mobile" type='text'>
  </div>
  <div class="form-group">
    <label>
      Password
    </label>
    <input class="form-control" formControlName="password" placeholder="password" type="password">
  </div>
  <div>
    <button class="btn btn-primary">
      Register
    </button>
  </div>
</form>
