<!-- <input [(ngModel)]="searchInput" placeholder="Search" type="text">

<div *ngFor="let i of someText | filter:searchInput" style="color:#000;">
  {{i}}
</div> -->

<div class="form-group">
  <input class="form-control" [(ngModel)]='email' placeholder="Email">
</div>
<div class="form-group">
  <input class="form-control" [(ngModel)]='password' placeholder="Password">
</div>
<div class="form-group">
  <input class="btn btn-primary" type="submit" value="Login" role="button" (click)="login()">
</div>

<!-- Auth Protection -->