<div class="main-banner col-xs-12 btstrp">

    <div class="inner-banner growth-banner">
       
        <div class="about-banner tab">
            <div class="about-con tab-cel">
                <div class="container">
                <h1 class="head-h1">Unleash your full <b>Potential</b> <br>
    with our <b>Growth Consulting</b> division</h1>
               </div>
            </div>
        </div>   
        
    </div>		
    
    </div>
        
        
    <div class="main-content col-xs-12 btstrp">
       
       <div class="container">
            <div class="row">
             
       <div class="growth-cont">
         
           <p class="head-p">To achieve <b>profitable</b> and sustained growth is the most challenging task for <br>
    established companies. Our <b>Growth Consulting Division</b> is here to help you <br> 
    achieve growth at scale.</p>
           
           <ul>
               
               <li class="col-md-4">
                   <figure><img src="./assets/images/growth1.png" width="379" height="388" alt="img" class="nor-img"></figure>
                   <h5 class="head-h4">Understanding Customer <br>
                    Insights from Big Data & <br>
                    Cognitive Capabilities.</h5>
               </li>
               
               <li class="col-md-4">
                   <figure><img src="./assets/images/growth2.png" width="379" height="388" alt="img" class="nor-img"></figure>
                   <h5 class="head-h4">Leveraging Technology <br>
    to help you Grow Exponentially.</h5>
               </li>
               
               <li class="col-md-4 mar-rgt-space">
                   <figure><img src="./assets/images/growth3.png" width="379" height="388" alt="img" class="nor-img"></figure>
                   <h5 class="head-h4">Cut-down costs by using <br>
    Technology to Automate the <br>
    Processes which brings speed <br>
    in execution.</h5>
               </li>
               
           </ul>
           <div class="clearfix"></div>
         
       </div>
        
        
        <div class="growth-btm tab">
            
            <div class="growth-lft tab-cel">
                
                <div class="myself tab-custom">
                   
                   <div class="myself-lft tab-cel">
                       <figure><img src="./assets/images/my-self.png" width="147" height="148" alt="img" class="nor-img"></figure>
                   </div>
                   
                   <div class="myself-rgt tab-cel">
                       <h2 class="head-h2">Anand Joseph</h2>
                       <h6>Growth Consulting Expert</h6>
                   </div>
                    
                </div>
                
                <p class="head-p">Growth Consulting Strategy is one of my biggest strengths - defining it and ensuring
    Schedule Now, functions and processes are designed around it. Key Skills include Strategy, Culture,
    Project Finance, Financial Planning, Business Development and Project Management,
    while having worked in IT and FMCG sectors.</p>
                
            </div>
            
            <div class="growth-rgt tab-cel">
               
               <h3 class="head-h3">Schedule a Consulting <br> Session with Anand</h3>
               <a href="#" class="buttons">Schedule Now</a>
                
                
            </div>
            
             </div>
           </div>
        </div>
       
    </div>