<div class="slider col-xs-12 btstrp">
    <div class="container">
        <div class="row">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <figure>
                            <img src="./assets/images/sliders-04.png" width="1366" height="768" alt="img" class="nor-img">
                        </figure>
                        <div class="slider-top">
                            <div class="slider-mdl tab">
                                <div class="slider-lft tab-cel">
                                    <h1 class="head-h1">
                                        <b>Artificial Intelligence</b> will make us
                                        <br>
                                        <b>better</b> at our
                                        <b>Jobs</b>
                                    </h1>
                                    <strong>#emergingtech</strong>

                                    <a routerLink="./services/artificial-intelligence-and-machine-learning" class="buttons read-more-btn">Read more</a>

                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="item">

                        <figure>
                            <img src="./assets/images/sliders-01.png" width="1366" height="768" alt="img" class="nor-img">
                        </figure>

                        <div class="slider-top">

                            <div class="slider-mdl tab">
                                <div class="slider-lft tab-cel">
                                    <p class="head-h1">Developing Products that are
                                        <br>
                                        <b>Blazing Fast</b> and work
                                        <b>Seamlessly!</b>
                                    </p>

                                    <strong>#agileproductdevelopment</strong>

                                    <a routerLink="./services/product-development" class="buttons read-more-btn">Read more</a>
                                </div>
                            </div>

                        </div>

                    </div>


                    <div class="item">

                        <figure>
                            <img src="./assets/images/sliders-02.png" width="1366" height="768" alt="img" class="nor-img">
                        </figure>

                        <div class="slider-top">

                            <div class="slider-mdl tab">
                                <div class="slider-lft tab-cel">
                                    <p class="head-h1">A Platform for the
                                        <b>Non-Tech Entrepreneurs</b>
                                        <br> to build Global Tech Products!!</p>

                                    <strong>#growthconsulting</strong>

                                    <a routerLink="./services/growth-consulting" class="buttons read-more-btn">Read more</a>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="item">

                        <figure>
                            <img src="./assets/images/sliders-03.png" width="1366" height="768" alt="img" class="nor-img">
                        </figure>

                        <div class="slider-top">

                            <div class="slider-mdl tab">
                                <div class="slider-lft tab-cel">
                                    <p class="head-h1">A
                                        <b>School of Code</b> for the
                                        <b>Ekalavyas</b> of
                                        <br> the Programming World!!!</p>
                                    <strong>#codecamp</strong>
                                    <a routerLink="/" class="buttons read-more-btn">Read more</a>  <!-- routerLink="./services/code-camp" -->

                                </div>
                            </div>

                        </div>

                    </div>

                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>

            </div>

        </div>
    </div>
</div>

<div class="main-content col-xs-12 btstrp">

    <div class="words">
        <div class="container">
            <div class="row">
                <p class="head-p">We are a bunch of hackers who believe that Technology has the power to impact lives. We will be your partners
                    in
                    <br> helping you
                    <b>build Global Technology Products</b> that change the way we live!</p>


                <ul>

                    <li class="col-sm-3 col-xs-5">
                        <figure>
                            <img src="./assets/images/icon-01.png" width="149" height="118" alt="img">
                        </figure>
                        <a href="#">Hackers</a>
                    </li>

                    <li class="col-sm-3 col-xs-5">
                        <figure>
                            <img src="./assets/images/icon-02.png" width="149" height="118" alt="img">
                        </figure>
                        <a href="#">Problem Solvers</a>
                    </li>

                    <li class="col-sm-3 col-xs-5">
                        <figure>
                            <img src="./assets/images/icon-03.png" width="149" height="118" alt="img">
                        </figure>
                        <a href="#">Crisis Management</a>
                    </li>

                    <li class="col-sm-3 col-xs-5">
                        <figure>
                            <img src="./assets/images/icon-04.png" width="149" height="118" alt="img">
                        </figure>
                        <a href="#">Product Geeks</a>
                    </li>

                    <li class="col-sm-3 col-xs-5">
                        <figure>
                            <img src="./assets/images/icon-05.png" width="149" height="118" alt="img">
                        </figure>
                        <a href="#">Debuggers</a>
                    </li>

                    <li class="col-sm-3 col-xs-5">
                        <figure>
                            <img src="./assets/images/icon-06.png" width="149" height="118" alt="img">
                        </figure>
                        <a href="#">GoGetters</a>
                    </li>


                </ul>


                <!--    <div class="words-main">
                
                   <div class="words-top tab">
                
                      <div class="words-lft tab-cel">
                        <p class="head-p">Lorem ipsum dolor sit amet, <br>
                        consectetuer adipiscing elit, sed diam nonummy <br>
                        nibh euismod Lorem ipsum dolor sit amet, <br>
                        consectetuer adipiscing elit.</p>
                        <b>Naresh Kumar</b>
                        <em>CEO at Wealocity, Inc</em>
                    </div>

                      <div class="words-rgt tab-cel">
                        <figure><img src="images/video.png" width="513" height="334" alt="img"></figure>
                    </div>
                
                   </div>
                   
                   <div class="words-top tab">
                
                      <div class="words-lft tab-cel">
                        <p class="head-p">Lorem ipsum dolor sit amet, <br>
                        consectetuer adipiscing elit, sed diam nonummy <br>
                        nibh euismod Lorem ipsum dolor sit amet, <br>
                        consectetuer adipiscing elit.</p>
                        <b>Naresh Kumar</b>
                        <em>CEO at Wealocity, Inc</em>
                    </div>

                      <div class="words-rgt tab-cel">
                        <figure><img src="images/video.png" width="513" height="334" alt="img"></figure>
                     </div>
                
                   </div>
                   
                   <div class="words-top tab">
                
                      <div class="words-lft tab-cel">
                        <p class="head-p">Lorem ipsum dolor sit amet, <br>
                        consectetuer adipiscing elit, sed diam nonummy <br>
                        nibh euismod Lorem ipsum dolor sit amet, <br>
                        consectetuer adipiscing elit.</p>
                        <b>Naresh Kumar</b>
                        <em>CEO at Wealocity, Inc</em>
                    </div>

                      <div class="words-rgt tab-cel">
                           <figure><img src="images/video.png" width="513" height="334" alt="img"></figure>                    
                    </div>
                
                   </div>
                
                </div> -->

            </div>
        </div>
    </div>


    <div class="count mtw-journey">

        <div class="container">
            <div class="row">

                <h2 class="head-h2">OUR JOURNEY</h2>

                <ul>

                    <li class="col-xs-3">
                        <span>6+</span>
                        <a href="#">SCRUM TEAMS</a>
                    </li>

                    <li class="col-xs-3">
                        <span>40+</span>
                        <a href="#">ENGINEERS</a>
                    </li>

                    <li class="col-xs-3">
                        <span>40+</span>
                        <a href="#">CUSTOMERS</a>
                    </li>

                    <li class="col-xs-3">
                        <span>20+</span>
                        <a href="#">APPS</a>
                    </li>

                </ul>
                <div class="clearfix"></div>

            </div>
        </div>

    </div>


    <div class="blog">
        <div class="container">
            <div class="row">

                <h2 class="head-h2">BLOGS</h2>

                <ul class="blog-slider">

                    <li class="col-md-4 col-sm-6 col-xs-12">
                        <figure>
                            <img src="./assets/images/blog1.png" width="366" height="277" alt="img">
                        </figure>
                        <h5 class="head-h3">A MORE NICHE MOBILE BLOG
                            <br> IS ANDROID POLICE.</h5>
                        <small>Posted On July 22, 2017</small>
                        <a href="#" class="buttons">Read Now</a>
                    </li>

                    <li class="col-md-4 col-sm-6 col-xs-12">
                        <figure>
                            <img src="./assets/images/blog2.png" width="366" height="277" alt="img">
                        </figure>
                        <h5 class="head-h3">A MORE NICHE MOBILE BLOG
                            <br> IS ANDROID POLICE.</h5>
                        <small>Posted On July 22, 2017</small>
                        <a href="#" class="buttons">Read Now</a>
                    </li>

                    <li class="col-md-4 col-sm-6 col-xs-12">
                        <figure>
                            <img src="./assets/images/blog3.png" width="366" height="277" alt="img">
                        </figure>
                        <h5 class="head-h3">A MORE NICHE MOBILE BLOG
                            <br> IS ANDROID POLICE.</h5>
                        <small>Posted On July 22, 2017</small>
                        <a href="#" class="buttons">Read Now</a>
                    </li>

                </ul>

            </div>
        </div>
    </div>


    <!-- <div class="client-img">
        <div class="container">
            <div class="row">

                <h2 class="head-h2">CLIENTELE</h2>

                <ul class="col-lg-10 col-xs-12 btstrp">



                    <li>
                        <figure>
                            <a href="#">
                                <img src="./assets/images/logo2.jpg" width="195" height="83" alt="img">
                            </a>
                        </figure>
                    </li>
                    <li>
                        <figure>
                            <a href="#">
                                <img src="./assets/images/logo3.jpg" width="195" height="83" alt="img">
                            </a>
                        </figure>
                    </li>
                    <li>
                        <figure>
                            <a href="#">
                                <img src="./assets/images/logo1.jpg" width="195" height="83" alt="img">
                            </a>
                        </figure>
                    </li>
                    <li>
                        <figure>
                            <a href="#">
                                <img src="./assets/images/logo4.jpg" width="195" height="83" alt="img">
                            </a>
                        </figure>
                    </li>


                    <li>
                        <figure>
                            <a href="#">
                                <img src="./assets/images/logo5.jpg" width="195" height="83" alt="img">
                            </a>
                        </figure>
                    </li>
                    <li>
                        <figure>
                            <a href="#">
                                <img src="./assets/images/logo6.jpg" width="195" height="83" alt="img">
                            </a>
                        </figure>
                    </li>
                    <li>
                        <figure>
                            <a href="#">
                                <img src="./assets/images/logo7.jpg" width="195" height="83" alt="img">
                            </a>
                        </figure>
                    </li>
                    <li>
                        <figure>
                            <a href="#">
                                <img src="./assets/images/logo8.jpg" width="195" height="83" alt="img">
                            </a>
                        </figure>
                    </li>

                    <li>
                        <figure>
                            <a href="#">
                                <img src="./assets/images/logo9.jpg" width="195" height="83" alt="img">
                            </a>
                        </figure>
                    </li>
                    <li>
                        <figure>
                            <a href="#">
                                <img src="./assets/images/logo10.jpg" width="195" height="83" alt="img">
                            </a>
                        </figure>
                    </li>
                    <li>
                        <figure>
                            <a href="#">
                                <img src="./assets/images/logo11.jpg" width="195" height="83" alt="img">
                            </a>
                        </figure>
                    </li>
                    <li>
                        <figure>
                            <a href="#">
                                <img src="./assets/images/logo12.jpg" width="195" height="83" alt="img">
                            </a>
                        </figure>
                    </li>


                    <li>
                        <figure>
                            <a href="#">
                                <img src="./assets/images/logo14.jpg" width="195" height="83" alt="img">
                            </a>
                        </figure>
                    </li>
                    <li>
                        <figure>
                            <a href="#">
                                <img src="./assets/images/logo15.jpg" width="195" height="83" alt="img">
                            </a>
                        </figure>
                    </li>
                    <li>
                        <figure>
                            <a href="#">
                                <img src="./assets/images/logo13.jpg" width="195" height="83" alt="img">
                            </a>
                        </figure>
                    </li>



                </ul>
                <div class="clearfix"></div>
            </div>
        </div>
    </div> -->

    <div class="competens">
        <h2 class="head-h2">CLIENTELE</h2>

        <ul class="col-md-12 btstrp">

            <li>
                <a routerLink="null">
                    <img src="./assets/images/Logo-33.jpg" width="195" height="85" alt="Allen Homoeopathy">
                </a>
            </li>

            <li>
                <a routerLink="null">
                    <img src="./assets/images/Logo-34.jpg" width="195" height="85" alt="Easy Gaadi">
                </a>
            </li>

            <li>
                <a routerLink="null">
                    <img src="./assets/images/Logo-35.jpg" width="195" height="85" alt="Makers of Milkshakes">
                </a>
            </li>

            <li>
                <a routerLink="null">
                    <img src="./assets/images/Logo-36.jpg" width="195" height="85" alt="Robo Silicon">
                </a>
            </li>

            <li>
                <a routerLink="null">
                    <img src="./assets/images/Logo-37.jpg" width="195" height="85" alt="Fashion Pecks">
                </a>
            </li>

            <li>
                <a routerLink="null">
                    <img src="./assets/images/Logo-38.jpg" width="195" height="85" alt="Now Play">
                </a>
            </li>
            <li>
                <a routerLink="null">
                    <img src="./assets/images/Logo-39.jpg" width="195" height="85" alt="Kraft Furnish">
                </a>
            </li>
            <li>
                <a routerLink="null">
                    <img src="./assets/images/Logo-40.jpg" width="195" height="85" alt="E homoeo">
                </a>
            </li>
            <li>
                <a routerLink="null">
                    <img src="./assets/images/Logo-41.jpg" width="195" height="85" alt="Allen">
                </a>
            </li>
            <li>
                <a routerLink="null">
                    <img src="./assets/images/Logo-42.jpg" width="195" height="85" alt="Wealocity">
                </a>
            </li>
            <li>
                <a routerLink="null">
                    <img src="./assets/images/Logo-43.jpg" width="195" height="85" alt="Advaita Organics">
                </a>
            </li>
            <li>
                <a routerLink="null">
                    <img src="./assets/images/Logo-44.jpg" width="195" height="85" alt="Senditi">
                </a>
            </li>
            <li>
                <a routerLink="null">
                    <img src="./assets/images/Logo-45.jpg" width="195" height="85" alt="Chakravarthy e Classroom">
                </a>
            </li>
            <li>
                <a routerLink="null">
                    <img src="./assets/images/Logo-46.jpg" width="195" height="85" alt="Cheers">
                </a>
            </li>
            <li>
                <a routerLink="null">
                    <img src="./assets/images/Logo-47.jpg" width="195" height="85" alt="Skyway">
                </a>
            </li>
            <li>
                <a routerLink="null">
                    <img src="./assets/images/img-24.png" width="195" height="85" alt="Cedura">
                </a>
            </li>
            <li>
                <a routerLink="null">
                    <img src="./assets/images/img-25.png" width="195" height="85" alt="eConsultare">
                </a>
            </li>
            <li>
                <a routerLink="null">
                    <img src="./assets/images/img_Artboard 167.png" width="195" height="85" alt="Meridian School">
                </a>
            </li>
        </ul>

    </div>


    <div class="career">
        <div class="container-fluid">
            <div class="row">

                <div class="career-top">
                    <div class="career-mdl tab">
                        <div class="career-con tab-cel">
                            <h3 class="head-h3 fs-24">CAREERS</h3>
                            <p class="head-p">Would you like to Join the Team of #GoGetters?</p>
                            <a routerLink="./careers" class="buttons read-more-btn">Know More</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>